<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mysupply</title>
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header-cabinet">
		<div class="container">
			<a href="#" class="header-cabinet__logo"><span>Моё</span> Снабжение</a>
			<nav class="header-cabinet__nav">
				<a href="#" class="header-cabinet__nav-item header-cabinet__nav-item--active">Поставщики</a>
				<a href="#" class="header-cabinet__nav-item">Каталог</a>
				<a href="#" class="header-cabinet__nav-item">На сайт »</a>
				<a href="#" class="header-cabinet__nav-item">Выйти</a>
			</nav>
		</div>
	</header>
	<main class="main">