<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Mysupply</title>
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header__choose">
				<div class="header__city">
					<a href="#modalCity" class="js-modal">Дзержинский</a>
					655 поставщиков
				</div>
				<a href="#" class="header__auth">Вход и регистрация</a>
			</div>
			<div class="header__system js-header-attach">
				<a href="#" class="header__logo">Моё Снабжение</a>
				<div class="header__search">
					<form action="">
						<input type="text" name="" id="" class="header__search-input" placeholder="Поиск строительных и промышленных товаров">
						<button type="submit" class="header__search-btn"></button>
					</form>
				</div>
				<div class="header__cart">
					<span class="header__cart-count">240</span>
					<!-- для пустой корзины просто удаляем содержимое, пример <span class="header__cart-count"></span> -->
					<div class="header__cart-summ">1 254 328,88 &#8381;</div>
					<div class="header__cart-shipper">3 поставщика</div>
					<a href="#" class="header__cart-link"></a>
				</div>
			</div>
			<nav class="header__nav">
				<a href="#" class="header__nav-item">Все разделы</a>
				<a href="#" class="header__nav-item">Электрика</a>
				<a href="#" class="header__nav-item">Сантехника и отопление</a>
				<a href="#" class="header__nav-item">Метизы и крепёж</a>
				<a href="#" class="header__nav-item">Вентиляция и промхолод</a>
				<a href="#" class="header__nav-item">Строительные смеси</a>
				<a href="#" class="header__nav-item">Спецодежда</a>
				<a href="#" class="header__nav-item">Телекоммуникации</a>
				<a href="#" class="header__nav-item">Металлы</a>
			</nav>
		</div>
	</header>
	<main class="main">