@require 'vars.styl';

/*  <buttons>  */
.btn
	display inline-flex
	height 32px
	justify-content center
	align-items center
	color $colorGray
	font-size 1.1rem
	text-transform uppercase
	background-color #fff
	border 1px solid #ddd
	border-radius 2px
	padding 0 15px
	cursor pointer
	transition all .2s
	a&
		text-decoration none
	&:hover
		color $colorDark
		border-color $colorLight
	&:active
		box-shadow inset 0 2px 4px rgba($colorDark, .4)
	&:disabled
	&[disabled]
		pointer-events none
		color $colorLight
		background-color #eee
		border-color @background-color
	&--blue
		color #fff
		background-color #4c95ca
		border-color @background-color
		&:hover
			color @color
			background-color #005a8a
			border-color @background-color
		&:active
			box-shadow inset 0 4px 8px rgba($colorDark, .4)
	&--green
		color #fff
		background-color #81c81e
		border-color @background-color
		&:hover
			color @color
			background-color #56a000
			border-color @background-color
		&:active
			box-shadow inset 0 4px 8px rgba($colorDark, .4)
	&--bordered
		color #81c81e
		border-color @color
		&:hover
			color #00a619
			border-color @color
	&--middle
		height 38px
		font-size 1.3rem
	&--large
		height 46px
		font-size 1.5rem
		padding 0 22px
	&--fullwidth
		width 100%
	&--dialog
		&::after
			border solid transparent
			border-width 5px 5px 0
			border-top-color $colorGray
			margin-left 10px
			content ''
/*  </buttons>  */

/*  <inputs>  */
.input-text
.textarea
	width 100%
	height 38px
	color $colorGray
	background-color #fff
	border 1px solid #ddd
	border-radius 2px
	padding 0 15px
	transition all .2s
	&::placeholder
		opacity 1
		color $colorLight
	&:hover
	&:focus
		border-color $colorLight
		outline none
	&--large
		height 46px
	&--success
		border-color #00a619
		&:hover
		&:focus
			border-color @border-color
	&--error
		border-color #c81e2c
		&:hover
		&:focus
			border-color @border-color
	&--bordered
		border-color #81c81e
		&:hover
		&:focus
			border-color #00a619
	&--email
		background #fff url('../i/icons/icon-user-green.svg') no-repeat 14px center / 15px auto
		padding-left 42px
	&--password
		background #fff url('../i/icons/icon-lock-green.svg') no-repeat 14px center / 13px auto
		padding-left 42px
	&--letter
		background #fff url('../i/icons/icon-letter-green.svg') no-repeat 14px center / 15px auto
		padding-left 42px
	&--phone
		background #fff url('../i/icons/icon-phone-green.svg') no-repeat 14px center / 12px auto
		padding-left 42px
	&--card
		background #fff url('../i/icons/icon-card-green.svg') no-repeat 14px center / 15px auto
		padding-left 42px
	&:disabled
		color $colorLight
		background-color #eee
		border-color @background-color
		&:hover
		&:focus
			background-color @background-color
			border-color @background-color
		&::placeholder
			color @color
.textarea
	height 122px
	min-height @height
	padding 10px 15px
	resize vertical
	transition border .2s, background-color .2s
	&--large
		height 160px
		min-height @height
.js-input-dynamic-width
	box-sizing content-box
.select
	width 100%
.checkbox-toggle
	position absolute
	left -9999px
	& + label
		display inline-flex
		position relative
		width 42px
		height 24px
		background-color rgba(#2cc81e, .6)
		border-radius (@height / 2)
		transition all .2s
		cursor pointer
		&::before
			position absolute
			top 1px
			bottom @top
			left 1px
			width 22px
			background-color #fff
			border-radius 50%
			content ''
			transition all .2s
	&:checked + label
		background-color #2cc81e
		&::before
			left 100%
			margin-left -1px
			transform translateX(-100%)
.input-file
	position absolute
	left -9999px
	& + label
		display inline-flex
.toggler
	display inline-flex
	position relative
	width 42px
	height 24px
	background-color rgba(#2cc81e, .6)
	border-radius (@height / 2)
	cursor pointer
	transition all .2s
	&::before
		position absolute
		top 1px
		left 1px
		bottom @top
		width 22px
		background-color #fff
		border-radius 50%
		content ''
		transition all .2s
	&--active
		background-color #2cc81e
		&::before
			right 1px
			left auto
/*  </inputs>  */

/*  <labels>  */
.label
	display inline-flex
	justify-content center
	align-items center
	overflow hidden
	vertical-align middle
	height 22px
	font-size 1.3rem
	white-space nowrap
	border-radius 2px
	padding 0 5px
	&--red
		color #fff
		background-color #c81e2c
		& ^[0]__text
			color @background-color
			border solid @background-color
			border-width 1px 0
	&--gray
		color #fff
		background-color $colorLight
		& ^[0]__text
			color @background-color
			border solid @background-color
			border-width 1px 0
	&__text
		height 100%
		color #000
		background-color #fff
		padding 1px 6px
		margin 0 -4px 0 5px
/*  </labels>  */

/*  <pagination>  */
.pagination
	display flex
	flex-wrap wrap
	justify-content center
	position relative
	padding-top 56px
	&--small
		padding-top 0
		.btn--large
			height 32px
	&__loadmore
		position absolute
		top 0
		right 0
		left 0
	&__item
		min-width 46px
		font-weight 500
		font-size 1.3rem
		padding 0 10px
		margin-right 3px
		&:last-child
			margin-right 0
		^[0]--small &
			min-width 32px
			padding 0 4px
		&--prev
			&::before
				width 8px
				height @width
				border solid $colorGray
				border-width 2px 0 0 2px
				content ''
				transform rotate(-45deg)
			&[disabled]
				&::before
					border-color $colorLight
		&--next
			&::before
				width 8px
				height @width
				border solid $colorGray
				border-width 2px 2px 0 0
				content ''
				transform rotate(45deg)
			&[disabled]
				&::before
					border-color $colorLight
		&--current
			pointer-events none
			color #fff
			background-color #81c81e
			border-color @background-color
		&--space
			pointer-events none
			padding 0 30px
			^[0]--small &
				padding 0 18px
/*  </pagination>  */

/*  <modal>  */
.modal
	display none
	max-width 750px
	border-top 3px solid #81c81e
	border-radius 3px
	box-shadow 0 6px 12px rgba(#000, .2)
	.fancybox-close-small
		top 13px
		right 15px
		width 35px
		height @width
		&::after
			top 50%
			left 50%
			width @width
			height @width
			color $colorGray
			font 300 3rem/1 Roboto
			background-color transparent
			border-radius 0
			transform translate(-50%, -50%)
			transition all .2s
		&:hover
			&::after
				color $colorLight
				background-color @background-color
	&__title
		color $colorDark
		font-size 2.3rem
		border-bottom 1px solid #f8f8f8
		padding 20px 24px
		margin 0 -24px
	&__btns
		text-align right
		border-top 1px solid #eee
		padding-top 15px
		margin-top 25px
		.btn
			margin-left 15px
/*  </modal>  */

/*  <layout>  */
.fadeIn
	animation fadeIn .5s
.fadeOut
	animation fadeOut .5s
.form
	&__row
		position relative
		margin 16px 0
		&:last-child
			margin-bottom 0
		&--big
			margin 28px 0
/*  </layout>  */

/*  <text>  */
h1
h2
h3
	color $colorDark
	font-weight 900
h1
	font-size 3rem
h2
	font-size 2.3rem
h3
	font-size 1.7rem
.color-light
	color $colorLight
.color-gray
	color $colorGray
.color-dark
	color $colorDark
.color-red
	color $colorRed
.color-green
	color $colorGreen
/*  <text>  */

/*  <animations>  */
@keyframes fadeIn
	from
		opacity 0
	to
		opacity 1
@keyframes fadeOut
	from
		opacity 1
	to
		opacity 0
@keyframes rotate
	to
		transform rotate(360deg)
/*  </animations>  */

/*  <dialog>  */
.dialog
	display none
	position absolute
	width 140px
	background-color #fff
	border-top 3px solid #81c81e
	border-radius 3px
	margin-top 15px
	box-shadow 0 4px 8px rgba($colorDark, .4)
	&::before
		position:absolute
		top -8px
		left 12px
		border solid transparent
		border-width 0 6px 8px
		border-bottom-color #81c81e
		content ''
	&--active
		display block
		animation fadeIn .5s
	&__item
		display block
		color $colorGray
		font-size 1.3rem
		text-decoration none
		padding 12px 14px
		transition all .2s
		a:hover&
			color $colorDark
			background-color #eee
/*  </dialog>  */

/*  <tagsinput>  */
.tagsinput
	width 100%
	height 122px
	color $colorGray
	background-color #fff
	border 1px solid #ddd
	border-radius 2px
	padding 8px 6px
	transition all .2s
	&:hover
	&:focus
		border-color $colorLight
		outline none
		cursor text
	.tag
		display inline-flex
		align-items center
		height 22px
		color #fff
		font-size 1.3rem
		text-transform uppercase
		white-space nowrap
		background-color $colorLight
		border-radius 2px
		padding-left 8px
		margin 0 6px 6px 0
		a
			position relative
			height 100%
			color #fff
			font-size 1.3rem
			text-decoration none
			text-indent -9999px
			padding 0 8px
			&::before
				position absolute
				top 0
				left 0
				font-size 1.5rem
				text-indent 0
				content '×'
	& > div
		display inline-flex
		input
			color $colorGray
			background-color transparent
			border 0
/*  </tagsinput>  */

/*  <notification>  */
.notification
	animation fadeIn .5s
	position fixed
	top 80px
	right @top
	&:empty
		display none
	&__item
		position relative
		width 360px
		color #fff
		font-weight normal
		font-size 1.3rem
		border-radius 2px
		padding 10px 34px 10px 38px
		margin-bottom 7px
		&:last-child
			margin-bottom 0
		&--notice
			background #70aad5 url('../i/icons/icon-notice.svg') no-repeat 14px center / 12px auto
		&--error
			background #d34b56 url('../i/icons/icon-error.svg') no-repeat 13px center / 14px auto
		&--success
			background #33b847 url('../i/icons/icon-success.svg') no-repeat 14px center / 12px auto
		&-close
			position absolute
			top 50%
			right 10px
			width 16px
			height @width
			transform translateY(-50%)
			&::before
			&::after
				position absolute
				top 2px
				left 50%
				bottom @top
				width 1px
				background-color #fff
				margin-left -1px
				content ''
			&::before
				transform rotate(45deg)
			&::after
				transform rotate(-45deg)
/*  </notification>  */